<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cwp.cmoneycharge">

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <instrumentation

        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="com.cwp.cmoneycharge"
        android:label="Tests for com.baidu.speech.recognizerdemo" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />



    <application
        android:name=".app.CrashApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <!-- begin: baidu speech sdk-->
        <!-- 请填写真实的APP_ID API_KEY SECRET_KEY -->
        <meta-data android:name="com.baidu.speech.APP_ID" android:value="8005590"/>
        <meta-data android:name="com.baidu.speech.API_KEY" android:value="MXwxgW99VWOIGP6Guc8HdrAA"/>
        <meta-data android:name="com.baidu.speech.SECRET_KEY" android:value="ef702de58676e302190533c97eb331b7"/>
        <service android:name="com.baidu.speech.VoiceRecognitionService" android:exported="false" />
        <activity
            android:name="com.baidu.voicerecognition.android.ui.BaiduASRDigitalDialog"
            android:configChanges="orientation|keyboardHidden|screenLayout"
            android:theme="@android:style/Theme.Dialog"
            android:exported="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.baidu.action.RECOGNIZE_SPEECH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- end : baidu speech sdk-->


        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="cGSPq2Q9kRuq9ynxMdOISjGL7Q1Gg7p4" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
        >
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="552bc81efd98c518a50008b2" />
        <!-- Push UMENG_MESSAGE_SECRET -->
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="UMENG_MESSAGE_SECRET" />
        <!-- umeng push -->
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Umeng" />

        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenLayout"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity android:name=".activity.AboutActivity" />
        <!-- <activity android:name="com.cwp.cmoneycharge.Account" /> -->
        <!-- <activity android:name="com.cwp.cmoneycharge.AddIncome" /> -->
        <!-- <activity android:name="com.cwp.cmoneycharge.AddNote" /> -->
        <activity android:name=".activity.AddPayActivity" />
        <activity android:name=".activity.AuthorActivity" />
        <!-- <activity android:name="com.cwp.cmoneycharge.ChangePwd" /> -->
        <!-- <activity android:name="com.cwp.cmoneycharge.Data" /> -->
        <activity android:name=".activity.DescriptionActivity" />
        <!-- <activity android:name="com.cwp.cmoneycharge.Income" /> -->
        <activity android:name=".activity.IncomeDataActivity" />
        <activity android:name=".activity.InPtypeManagerActivity" />
        <!-- <activity android:name="com.cwp.cmoneycharge.Login" /> -->
        <activity android:name=".activity.ModifyInPActivity" />
        <!-- <activity android:name="com.cwp.cmoneycharge.ModifyNote" /> -->
        <!-- <activity android:name="com.cwp.cmoneycharge.Note" /> -->
        <!-- <activity android:name="com.cwp.cmoneycharge.Pay" /> -->
        <activity android:name=".activity.PayDataActivity" />
        <activity android:name=".activity.SettingActivity" />
        <activity android:name=".activity.PayChartActivity" />
        <activity
            android:name="com.umeng.fb.example.FeedBackActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.example.testpic.activity.PublishedActivity"
            android:theme="@style/HalfTransparent" />
        <activity
            android:name=".activity.SearchActivity"
            android:theme="@style/HalfTransparent"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name="com.cwp.pattern.activity.CreateGesturePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cwp.pattern.activity.GuideGesturePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cwp.pattern.activity.UnlockGesturePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.testpic.activity.ImageGridActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.example.testpic.activity.GalleryActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.example.testpic.activity.PhotoActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.LoginActivity"/>
    </application>

</manifest>